<div class="row align-items-center">
    <div class="col-sm-5 col-3">
        <a class="text-decoration-none text-white h3" href="{% url 'home' %}">iiBi</a></h3>
    </div>
    <div class="col-sm-3 col">
        <a class="text-decoration-none text-white" href="{% url 'products' %}">Products</a>
    </div>  
    {% if user.is_authenticated %}
    <div class="col-sm-3 col">
        <a class="text-decoration-none text-white" href="{% url 'cart-list' %}">Cart</a>
    </div>
    {% else %}
    
    <div class="col-sm-3 col"><a class="text-decoration-none text-white" href="{% url 'login' %}">login</a></div>
    {% endif %}
</div>


