{% extends 'core/index.html' %}

{% block title %}Products{% endblock title %}

{% block main %}
<div class="row mb-3 justify-content-center align-items-center px-5">
    <div class="col-md-4">
        <h3>Products</h3>
    </div>
    <div class="col-md-4">
        {% for category in categories %}
            <span> 
                <a 
                class="btn btn-sm btn-secondary text-decoration-none text-white"
                href="{{category.get_absolute_url}}"> 
                {{category.category_name}} </a>
            </span>
        {% endfor %}

     </div>
    {% if user.is_authenticated %}
    <div class="col-md-4">
        <a class="btn btn-primary float-end" href="{% url 'create-product' %}"> +</a>
     </div>
     
    {% endif %}
</div>


{% include 'core/include/products.html' %}



{% endblock main %}